.git
.gitignore
.dockerignore
.editorconfig
.vscode
.idea
*.md~
*.log
*.py[cod]
__pycache__/
node_modules/
env/
venv/
.venv/
tmp/
logs/
mysql-data/
redis-data/
.pytest_cache/
.mypy_cache/
*.sqlite3

